<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Camera feature declaration (recommended for Play Store & API 33+) -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"

        android:theme="@style/Theme.AgriTrace"

        tools:targetApi="36">
        <activity android:name=".CertificateActivity" />
        <activity android:name=".dist.DistributorUpdateLocationActivity" />
        <activity android:name=".dist.DistributorBatchDetailsActivity" />
        <activity android:name=".dist.DistributorUpdateTransportActivity" />
        <activity android:name=".dist.DistributorHistoryActivity" />
        <!-- Homepage / Dashboard -->
        <activity
            android:name=".Farmer.HomepageRecentBatchesActivity"
            android:exported="false" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".Farmer.FarmerQrDetailsActivity" />
        <activity android:name=".dist.DistributorReceivedProductsActivity" />
        <activity android:name=".DistributorIncomingTransferActivity" />
        <activity android:name=".retailer.RetailerReceivedInventoryActivity" />
        <activity android:name=".retailer.RetailerIncomingStockActivity" />
        <activity android:name=".CurrentStockActivity" />
        <activity
            android:name=".HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyAndSecurityActivity"
            android:exported="false" />

        <activity android:name=".CustomerBatchVerification" android:exported="false" />
        <activity android:name=".customer.CustomerFullJourneyActivity" android:exported="false" />
        <activity android:name=".RetailerConfirmReceipt" android:exported="false" />
        <activity android:name=".RetailerBatchVerification" android:exported="false" />
        <activity android:name=".RetailerProductStatusActivity" android:exported="false" />
        <activity android:name=".retailer.RetailerHistoryActivity" android:exported="false" />


        <activity
            android:name=".RetailerDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_retailer_main" />

        <activity android:name=".update_transport" android:exported="false" />
        <activity android:name=".DistributorTransferSuccess" android:exported="false" />
        <activity android:name=".SelectRetailerActivity" android:exported="false" />
        <activity android:name=".dist_details" android:exported="false" />
        <activity android:name=".select_distributor" android:exported="false" />
        <activity android:name=".Farmer.SelectDistributorActivity" android:exported="false" />
        <activity android:name=".Farmer.FarmerTransferSuccessActivity" android:exported="false" />
        <activity android:name=".FarmerBatchDetailsActivity" android:exported="false" />
        <activity android:name=".edit_profile" android:exported="false" />


        <activity android:name=".qr_code" android:exported="false" />
        <activity android:name=".terms_service" android:exported="false" />
        <activity android:name=".PrivacyPolicyActivity" android:exported="false" />
        <activity android:name=".farmer_settings" android:exported="false" />
        <activity android:name=".dist.DistributorConfirmScanActivity" />
        <activity android:name="com.simats.agritrace.retailer.RetailerScanQrActivity" />

        <activity
            android:name=".Farmer.distributor.DistributorDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_distributor_dashboard" />

      <activity android:name=".Customer" android:exported="false" />

        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_customerhome" />


        <activity
            android:name=".FarmerDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_farmer_dashboard" />

        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_farmer_dashboard" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_farmer_dashboard" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_farmer_dashboard" />
        <activity
            android:name=".EmailOtpActivity"
            android:exported="false"
            android:label="@string/title_activity_farmer_dashboard" />
        <!-- LAUNCHER -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AgriTrace.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            />
    </application>

</manifest>
